.tabList {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px black solid;
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  position: absolute;
  left: 0;
  background-color: #fff;

  li {
    width: fit-content;
    border-bottom-style: none;
    padding: 8px 16px 6px 16px;
    border-radius: 10px 10px 0px 0px;
    background-color: gray;
    color: white;
    margin-right: 0.5rem;
  }

  a:first-child > li {
    margin-right: 2rem;
  }

  .activeTab {
    color: white;
    background: black;
  }
}
