.left {
  flex-basis: 0;
  flex-grow: 1;
}

.right {
  flex-basis: 0;
  flex-grow: 3.5;
}

.homeContent {
  flex-grow: 4.5; /* 비율 */
  flex-basis: 0; /* 기본 크기를 0으로 설정 */
  width: auto;
  overflow: hidden;
  margin-bottom: 1rem;
}

.homeContent:last-child {
  margin-bottom: 0;
}
